<style>
    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fe9963cd;
            box-shadow: 0 5px 10px rgba(128, 128, 128, 0.427);
            z-index: 9;
            /* background: linear-gradient(180deg, #FFA3A2 16.9%, #F4EEEB 100%); */
        }

        .logo{
            width: 40px;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 5px;
            font-weight: bold;
            text-decoration: none;
            color: black;
            font-size: 18px;
            position: relative;
        }

        .logo img{
            width: 100%;
            position: relative;
            margin-right: -10px;
        }
        .navbar a {
            position: relative;
            font-size: 19px;
            color: black;
            font-weight: 500;
            text-decoration: none;
            margin-left: 40px;
        }

        .navbar img{
            width: 30px;
        }

        .navbar a::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 2px;
            background:  #f56415;
            transition: .3s;
        }

        .navbar a:hover::before {
            width: 100%;
        }

        .navbar #navusername{
            background: #fff;
            padding: 3px 5px;
            border-radius: 5px;
        }

</style>
<div class="header">
    <a href="" class="logo"><img src="./assets/logo.png" alt="">Poetry</a>
    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="poem.html">Poems</a>
        <a href="poets.html">Poets</a>
        <a id="navsignup"  onclick="opensignup()" >Signup</a>
        <a id="navlogin" onclick="openlogin()">Login</a>
        <a id="navusername"></a>
        <a id="navlogout" onclick="logout()" >Logout</a>
    </div>
</div>
